<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />

	<bean id="foo"
		class="me.juliochaves.tutorials.showcases.spring.core.di.annotationbased.qualifiers.beans.Foo"></bean>

	<bean class="me.juliochaves.tutorials.showcases.spring.core.di.annotationbased.qualifiers.beans.Bar">
		<qualifier value="extreme" />
		<property name="kind" value="extreme" />
	</bean>

	<bean class="me.juliochaves.tutorials.showcases.spring.core.di.annotationbased.qualifiers.beans.Bar">
		<qualifier value="mild" />
		<property name="kind" value="mild" />
	</bean>

	<bean class="me.juliochaves.tutorials.showcases.spring.core.di.annotationbased.qualifiers.beans.Bar">
		<qualifier value="mild" />
		<property name="kind" value="mild" />
	</bean>

	<bean class="me.juliochaves.tutorials.showcases.spring.core.di.annotationbased.qualifiers.beans.Bar">
		<qualifier value="mild" />
		<property name="kind" value="mild" />
	</bean>

	<bean class="me.juliochaves.tutorials.showcases.spring.core.di.annotationbased.qualifiers.beans.Bar">
		<qualifier type="Kind" value="severe" />
<!--	<qualifier type="custom.qualifiers.annotationbased.di.me.juliochaves.tutorials.showcases.spring.core.Kind" value="severe" /> -->
		<property name="kind" value="severe" />
	</bean>
</beans>