<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
		   http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
	<context:load-time-weaver />
	<!-- Traditional -->
	<bean id="foo" class="me.juliochaves.tutorials.showcases.spring.core.di.cnamespace.beans.Foo">
		<constructor-arg ref="bar" />
		<constructor-arg ref="baz" />
	</bean>

	<!-- c-namespace -->
	<bean id="fooWithCNamespace" class="me.juliochaves.tutorials.showcases.spring.core.di.cnamespace.beans.Foo"
		c:bar-ref="bar" c:baz-ref="baz">
	</bean>

	<bean id="bar" class="me.juliochaves.tutorials.showcases.spring.core.di.cnamespace.beans.Bar"></bean>
	<bean id="baz" class="me.juliochaves.tutorials.showcases.spring.core.di.cnamespace.beans.Baz"></bean>
</beans>